POSTGRES_USER=postgres
POSTGRES_PASSWORD=secure-key
POSTGRES_DB=colegio

JWT_SECRET=default-secret
SALT_ROUNDS=12
DB_USER=postgres
DB_PASSWORD=secure-key
DB_HOST=db
DB_PORT=5432
DB_DATABASE=colegio

UPLOAD_PATH=C:\ruta\al\directorio\FTP

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=email
MAIL_PASS=contra de aplicacion

DB_URL=jdbc:postgresql://db:5432/colegio
DB_USERNAME=postgres